In [89]:
import sqlite3 as sql
import pandas as pd
import plotly.express as px

In [90]:
db = sql.connect("/Users/jaspertsai/Documents/GitHub/Spotify-PlayCounts/data/Spotify.db")

#### `SQL_get_artist_pop()`

In [91]:
def SQL_get_artist_pop(artist_name):
    df = pd.read_sql(
    f'''
    SELECT * 
    FROM Artists_Popularity
    WHERE artist_name = '{artist_name}'
    ''', db)
    return df

In [92]:
SQL_get_artist_pop("BTS")

,artist_name,artist_id,artist_followers,artist_popularity,date_tracked
0,BTS,3Nrfpe0tUJi4K4DXYWgMUX,61927930,93,2023-03-04
1,BTS,3Nrfpe0tUJi4K4DXYWgMUX,61927930,93,2023-03-05

## Test sql query

#### Tracks_Playcount

In [93]:
track_play_df = pd.read_sql(
        f'''
        SELECT track_id,track_playcount,date_tracked
        FROM Tracks_Playcount
        '''
    ,db)

In [94]:
#see the duplicated ids
track_play_df.loc[track_play_df.duplicated(),:]

                    track_id  track_playcount date_tracked
1324  5FvxRvrQ8qzKjBJ6ST9aiu         13378937   2023-03-04
1325  1DlczmjByrS4qxRVfGjpqN         25973528   2023-03-04
1326  6nhc3daOpKaZBRj2ZFWfc7         22909653   2023-03-04
1327  6Lgbf4b6c9fwz24eFEWONX          9471671   2023-03-04
1328  7btzRuXC6Ed3rIyomBRkO2        920719525   2023-03-04
1329  6BeOJPXMstvXolxKbL09kR         30978568   2023-03-04
3683  6C0H8ts9M6deezz0yYR6LK          6655791   2023-03-04
5079  5FvxRvrQ8qzKjBJ6ST9aiu         13392717   2023-03-05
5080  1DlczmjByrS4qxRVfGjpqN         26004920   2023-03-05
5081  6nhc3daOpKaZBRj2ZFWfc7         22927583   2023-03-05
5082  6Lgbf4b6c9fwz24eFEWONX          9475543   2023-03-05
5083  7btzRuXC6Ed3rIyomBRkO2        921842430   2023-03-05
5084  6BeOJPXMstvXolxKbL09kR         31000941   2023-03-05
7438  6C0H8ts9M6deezz0yYR6LK          6692236   2023-03-05

In [95]:
df1 = track_play_df.drop_duplicates()
df1

                    track_id  track_playcount date_tracked
0     12sliObzVzbLbAlDb8eChf         91887648   2023-03-04
1     1hG4V53eR16jg7jVTNLOiX        813653167   2023-03-04
2     5VipERQ1ofCowecoFg2MVU        380497375   2023-03-04
3     1N9hFgcgWYbGINUKjhvcK6        157315542   2023-03-04
4     1qKdid2S9fZdSrzLaCcjcF        125490517   2023-03-04
...                      ...              ...          ...
7505  1g09DZjQ7yBommCT6POY2n          4430710   2023-03-05
7506  71IScwIe7bcIlpnlkbKVQw          7000373   2023-03-05
7507  1cJkUN5LAotktryx2nPCr7          3376103   2023-03-05
7508  31JVjy3XWnh6C2zf4kLCXN          4254074   2023-03-05
7509  7GZ3KDorsc1yWndEtzGTjf          3855649   2023-03-05

[7496 rows x 3 columns]

#### Tracks_Popularity

In [96]:
track_pop_df = pd.read_sql(
        f'''
        SELECT track_id,track_popularity,date_tracked
        FROM Tracks_Popularity
        '''
    ,db)

In [97]:
#see the duplicated ids
track_pop_df.loc[track_pop_df.duplicated(),:]

                    track_id  track_popularity date_tracked
1324  5FvxRvrQ8qzKjBJ6ST9aiu                52   2023-03-04
1325  1DlczmjByrS4qxRVfGjpqN                60   2023-03-04
1326  6nhc3daOpKaZBRj2ZFWfc7                55   2023-03-04
1327  6Lgbf4b6c9fwz24eFEWONX                44   2023-03-04
1328  7btzRuXC6Ed3rIyomBRkO2                63   2023-03-04
1329  6BeOJPXMstvXolxKbL09kR                57   2023-03-04
3683  6C0H8ts9M6deezz0yYR6LK                60   2023-03-04
5079  5FvxRvrQ8qzKjBJ6ST9aiu                52   2023-03-05
5080  1DlczmjByrS4qxRVfGjpqN                60   2023-03-05
5081  6nhc3daOpKaZBRj2ZFWfc7                56   2023-03-05
5082  6Lgbf4b6c9fwz24eFEWONX                44   2023-03-05
5083  7btzRuXC6Ed3rIyomBRkO2                63   2023-03-05
5084  6BeOJPXMstvXolxKbL09kR                57   2023-03-05
7438  6C0H8ts9M6deezz0yYR6LK                60   2023-03-05

In [98]:
df2 = track_pop_df.drop_duplicates()
df2

                    track_id  track_popularity date_tracked
0     12sliObzVzbLbAlDb8eChf                50   2023-03-04
1     1hG4V53eR16jg7jVTNLOiX                54   2023-03-04
2     5VipERQ1ofCowecoFg2MVU                54   2023-03-04
3     1N9hFgcgWYbGINUKjhvcK6                52   2023-03-04
4     1qKdid2S9fZdSrzLaCcjcF                53   2023-03-04
...                      ...               ...          ...
7505  1g09DZjQ7yBommCT6POY2n                41   2023-03-05
7506  71IScwIe7bcIlpnlkbKVQw                43   2023-03-05
7507  1cJkUN5LAotktryx2nPCr7                39   2023-03-05
7508  31JVjy3XWnh6C2zf4kLCXN                40   2023-03-05
7509  7GZ3KDorsc1yWndEtzGTjf                39   2023-03-05

[7496 rows x 3 columns]

Test the merge to see the new resulted track_id

In [99]:
df1.merge(df2)

                    track_id  track_playcount date_tracked  track_popularity
0     12sliObzVzbLbAlDb8eChf         91887648   2023-03-04                50
1     1hG4V53eR16jg7jVTNLOiX        813653167   2023-03-04                54
2     5VipERQ1ofCowecoFg2MVU        380497375   2023-03-04                54
3     1N9hFgcgWYbGINUKjhvcK6        157315542   2023-03-04                52
4     1qKdid2S9fZdSrzLaCcjcF        125490517   2023-03-04                53
...                      ...              ...          ...               ...
7491  1g09DZjQ7yBommCT6POY2n          4430710   2023-03-05                41
7492  71IScwIe7bcIlpnlkbKVQw          7000373   2023-03-05                43
7493  1cJkUN5LAotktryx2nPCr7          3376103   2023-03-05                39
7494  31JVjy3XWnh6C2zf4kLCXN          4254074   2023-03-05                40
7495  7GZ3KDorsc1yWndEtzGTjf          3855649   2023-03-05                39

[7496 rows x 4 columns]

#### `SQL_get_albums_pop_artist()`

In [100]:
def SQL_get_albums_pop_artist():
    df = pd.read_sql(
        f'''
        SELECT DISTINCT Tracks_Popularity.track_id, Tracks_Popularity.track_popularity, Tracks_Playcount.track_playcount, Tracks_Popularity.date_tracked
        FROM Tracks_Playcount

        INNER JOIN Tracks_Popularity
        ON Tracks_Playcount.track_id = Tracks_Popularity.track_id AND Tracks_Playcount.date_tracked = Tracks_Popularity.date_tracked

        '''
    ,db)
    return df

In [101]:
df = SQL_get_albums_pop_artist()
df

                    track_id  track_popularity  track_playcount date_tracked
0     12sliObzVzbLbAlDb8eChf                50         91887648   2023-03-04
1     1hG4V53eR16jg7jVTNLOiX                54        813653167   2023-03-04
2     5VipERQ1ofCowecoFg2MVU                54        380497375   2023-03-04
3     1N9hFgcgWYbGINUKjhvcK6                52        157315542   2023-03-04
4     1qKdid2S9fZdSrzLaCcjcF                53        125490517   2023-03-04
...                      ...               ...              ...          ...
7491  1g09DZjQ7yBommCT6POY2n                41          4430710   2023-03-05
7492  71IScwIe7bcIlpnlkbKVQw                43          7000373   2023-03-05
7493  1cJkUN5LAotktryx2nPCr7                39          3376103   2023-03-05
7494  31JVjy3XWnh6C2zf4kLCXN                40          4254074   2023-03-05
7495  7GZ3KDorsc1yWndEtzGTjf                39          3855649   2023-03-05

[7496 rows x 4 columns]