In [1]:
import sqlite3 as sql
import pandas as pd
import plotly.express as px

In [2]:
db = sql.connect("/Users/jaspertsai/Documents/GitHub/Spotify-PlayCounts/data/Spotify.db")

## Test sql query

#### Tracks_Playcount

In [3]:
track_play_df = pd.read_sql(
        f'''
        SELECT track_id,track_playcount,date_tracked
        FROM Tracks_Playcount
        '''
    ,db)

In [4]:
#see the duplicated ids
track_play_df.loc[track_play_df.duplicated(),:]

                     track_id  track_playcount date_tracked
1324   5FvxRvrQ8qzKjBJ6ST9aiu         13378937   2023-03-04
1325   1DlczmjByrS4qxRVfGjpqN         25973528   2023-03-04
1326   6nhc3daOpKaZBRj2ZFWfc7         22909653   2023-03-04
1327   6Lgbf4b6c9fwz24eFEWONX          9471671   2023-03-04
1328   7btzRuXC6Ed3rIyomBRkO2        920719525   2023-03-04
1329   6BeOJPXMstvXolxKbL09kR         30978568   2023-03-04
3683   6C0H8ts9M6deezz0yYR6LK          6655791   2023-03-04
5079   5FvxRvrQ8qzKjBJ6ST9aiu         13392717   2023-03-05
5080   1DlczmjByrS4qxRVfGjpqN         26004920   2023-03-05
5081   6nhc3daOpKaZBRj2ZFWfc7         22927583   2023-03-05
5082   6Lgbf4b6c9fwz24eFEWONX          9475543   2023-03-05
5083   7btzRuXC6Ed3rIyomBRkO2        921842430   2023-03-05
5084   6BeOJPXMstvXolxKbL09kR         31000941   2023-03-05
7438   6C0H8ts9M6deezz0yYR6LK          6692236   2023-03-05
8834   5FvxRvrQ8qzKjBJ6ST9aiu         13404440   2023-03-06
8835   1DlczmjByrS4qxRVfGjpqN         26031618   2023-03-06
8836   6nhc3daOpKaZBRj2ZFWfc7         22943763   2023-03-06
8837   6Lgbf4b6c9fwz24eFEWONX          9479017   2023-03-06
8838   7btzRuXC6Ed3rIyomBRkO2        922860626   2023-03-06
8839   6BeOJPXMstvXolxKbL09kR         31022346   2023-03-06
11193  6C0H8ts9M6deezz0yYR6LK          6724343   2023-03-06
12589  5FvxRvrQ8qzKjBJ6ST9aiu         13417828   2023-03-07
12591  6nhc3daOpKaZBRj2ZFWfc7         22943763   2023-03-07
12592  6Lgbf4b6c9fwz24eFEWONX          9483046   2023-03-07
12593  7btzRuXC6Ed3rIyomBRkO2        923945094   2023-03-07
12594  6BeOJPXMstvXolxKbL09kR         31046147   2023-03-07
16344  5FvxRvrQ8qzKjBJ6ST9aiu         13431107   2023-03-08
16345  1DlczmjByrS4qxRVfGjpqN         26100633   2023-03-08
16346  6nhc3daOpKaZBRj2ZFWfc7         22979967   2023-03-08
16347  6Lgbf4b6c9fwz24eFEWONX          9487059   2023-03-08
16348  7btzRuXC6Ed3rIyomBRkO2        925042847   2023-03-08
16349  6BeOJPXMstvXolxKbL09kR         31071709   2023-03-08
20099  5FvxRvrQ8qzKjBJ6ST9aiu         13444720   2023-03-09
20100  1DlczmjByrS4qxRVfGjpqN         26131981   2023-03-09
20101  6nhc3daOpKaZBRj2ZFWfc7         22999129   2023-03-09
20102  6Lgbf4b6c9fwz24eFEWONX          9490992   2023-03-09
20103  7btzRuXC6Ed3rIyomBRkO2        926114368   2023-03-09
20104  6BeOJPXMstvXolxKbL09kR         31174983   2023-03-09
22458  6C0H8ts9M6deezz0yYR6LK          6832593   2023-03-09
23854  5FvxRvrQ8qzKjBJ6ST9aiu         13457377   2023-03-10
23855  1DlczmjByrS4qxRVfGjpqN         26155941   2023-03-10
23856  6nhc3daOpKaZBRj2ZFWfc7         23018663   2023-03-10
23857  6Lgbf4b6c9fwz24eFEWONX          9494983   2023-03-10
23858  7btzRuXC6Ed3rIyomBRkO2        927207803   2023-03-10
23859  6BeOJPXMstvXolxKbL09kR         31217264   2023-03-10
26213  6C0H8ts9M6deezz0yYR6LK          6867834   2023-03-10
27609  5FvxRvrQ8qzKjBJ6ST9aiu         13470070   2023-03-11
27610  1DlczmjByrS4qxRVfGjpqN         26179863   2023-03-11
27611  6nhc3daOpKaZBRj2ZFWfc7         23038361   2023-03-11
27612  6Lgbf4b6c9fwz24eFEWONX          9498883   2023-03-11
27613  7btzRuXC6Ed3rIyomBRkO2        928359337   2023-03-11
27614  6BeOJPXMstvXolxKbL09kR         31246505   2023-03-11
29968  6C0H8ts9M6deezz0yYR6LK          6901747   2023-03-11

In [5]:
df1 = track_play_df.drop_duplicates()
df1

                     track_id  track_playcount date_tracked
0      12sliObzVzbLbAlDb8eChf         91887648   2023-03-04
1      1hG4V53eR16jg7jVTNLOiX        813653167   2023-03-04
2      5VipERQ1ofCowecoFg2MVU        380497375   2023-03-04
3      1N9hFgcgWYbGINUKjhvcK6        157315542   2023-03-04
4      1qKdid2S9fZdSrzLaCcjcF        125490517   2023-03-04
...                       ...              ...          ...
30035  1g09DZjQ7yBommCT6POY2n          4440379   2023-03-11
30036  71IScwIe7bcIlpnlkbKVQw          7009333   2023-03-11
30037  1cJkUN5LAotktryx2nPCr7          3385864   2023-03-11
30038  31JVjy3XWnh6C2zf4kLCXN          4263512   2023-03-11
30039  7GZ3KDorsc1yWndEtzGTjf          3862782   2023-03-11

[29987 rows x 3 columns]

#### Tracks_Popularity

In [6]:
track_pop_df = pd.read_sql(
        f'''
        SELECT track_id,track_popularity,date_tracked
        FROM Tracks_Popularity
        '''
    ,db)

In [7]:
#see the duplicated ids
track_pop_df.loc[track_pop_df.duplicated(),:]

                     track_id  track_popularity date_tracked
1324   5FvxRvrQ8qzKjBJ6ST9aiu                52   2023-03-04
1325   1DlczmjByrS4qxRVfGjpqN                60   2023-03-04
1326   6nhc3daOpKaZBRj2ZFWfc7                55   2023-03-04
1327   6Lgbf4b6c9fwz24eFEWONX                44   2023-03-04
1328   7btzRuXC6Ed3rIyomBRkO2                63   2023-03-04
1329   6BeOJPXMstvXolxKbL09kR                57   2023-03-04
3683   6C0H8ts9M6deezz0yYR6LK                60   2023-03-04
5079   5FvxRvrQ8qzKjBJ6ST9aiu                52   2023-03-05
5080   1DlczmjByrS4qxRVfGjpqN                60   2023-03-05
5081   6nhc3daOpKaZBRj2ZFWfc7                56   2023-03-05
5082   6Lgbf4b6c9fwz24eFEWONX                44   2023-03-05
5083   7btzRuXC6Ed3rIyomBRkO2                63   2023-03-05
5084   6BeOJPXMstvXolxKbL09kR                57   2023-03-05
7438   6C0H8ts9M6deezz0yYR6LK                60   2023-03-05
8834   5FvxRvrQ8qzKjBJ6ST9aiu                52   2023-03-06
8835   1DlczmjByrS4qxRVfGjpqN                60   2023-03-06
8836   6nhc3daOpKaZBRj2ZFWfc7                55   2023-03-06
8837   6Lgbf4b6c9fwz24eFEWONX                44   2023-03-06
8838   7btzRuXC6Ed3rIyomBRkO2                63   2023-03-06
8839   6BeOJPXMstvXolxKbL09kR                57   2023-03-06
11193  6C0H8ts9M6deezz0yYR6LK                60   2023-03-06
12589  5FvxRvrQ8qzKjBJ6ST9aiu                52   2023-03-07
12590  1DlczmjByrS4qxRVfGjpqN                60   2023-03-07
12591  6nhc3daOpKaZBRj2ZFWfc7                56   2023-03-07
12592  6Lgbf4b6c9fwz24eFEWONX                44   2023-03-07
12593  7btzRuXC6Ed3rIyomBRkO2                63   2023-03-07
12594  6BeOJPXMstvXolxKbL09kR                57   2023-03-07
14948  6C0H8ts9M6deezz0yYR6LK                60   2023-03-07
16344  5FvxRvrQ8qzKjBJ6ST9aiu                52   2023-03-08
16345  1DlczmjByrS4qxRVfGjpqN                60   2023-03-08
16346  6nhc3daOpKaZBRj2ZFWfc7                56   2023-03-08
16347  6Lgbf4b6c9fwz24eFEWONX                44   2023-03-08
16348  7btzRuXC6Ed3rIyomBRkO2                63   2023-03-08
16349  6BeOJPXMstvXolxKbL09kR                57   2023-03-08
18703  6C0H8ts9M6deezz0yYR6LK                60   2023-03-08
20099  5FvxRvrQ8qzKjBJ6ST9aiu                52   2023-03-09
20100  1DlczmjByrS4qxRVfGjpqN                60   2023-03-09
20101  6nhc3daOpKaZBRj2ZFWfc7                56   2023-03-09
20102  6Lgbf4b6c9fwz24eFEWONX                44   2023-03-09
20103  7btzRuXC6Ed3rIyomBRkO2                63   2023-03-09
20104  6BeOJPXMstvXolxKbL09kR                57   2023-03-09
22458  6C0H8ts9M6deezz0yYR6LK                61   2023-03-09
23854  5FvxRvrQ8qzKjBJ6ST9aiu                52   2023-03-10
23855  1DlczmjByrS4qxRVfGjpqN                60   2023-03-10
23856  6nhc3daOpKaZBRj2ZFWfc7                56   2023-03-10
23857  6Lgbf4b6c9fwz24eFEWONX                44   2023-03-10
23858  7btzRuXC6Ed3rIyomBRkO2                63   2023-03-10
23859  6BeOJPXMstvXolxKbL09kR                58   2023-03-10
26213  6C0H8ts9M6deezz0yYR6LK                61   2023-03-10
27609  5FvxRvrQ8qzKjBJ6ST9aiu                52   2023-03-11
27610  1DlczmjByrS4qxRVfGjpqN                60   2023-03-11
27611  6nhc3daOpKaZBRj2ZFWfc7                56   2023-03-11
27612  6Lgbf4b6c9fwz24eFEWONX                44   2023-03-11
27613  7btzRuXC6Ed3rIyomBRkO2                63   2023-03-11
27614  6BeOJPXMstvXolxKbL09kR                59   2023-03-11
29968  6C0H8ts9M6deezz0yYR6LK                61   2023-03-11

In [8]:
df2 = track_pop_df.drop_duplicates()
df2

                     track_id  track_popularity date_tracked
0      12sliObzVzbLbAlDb8eChf                50   2023-03-04
1      1hG4V53eR16jg7jVTNLOiX                54   2023-03-04
2      5VipERQ1ofCowecoFg2MVU                54   2023-03-04
3      1N9hFgcgWYbGINUKjhvcK6                52   2023-03-04
4      1qKdid2S9fZdSrzLaCcjcF                53   2023-03-04
...                       ...               ...          ...
30035  1g09DZjQ7yBommCT6POY2n                40   2023-03-11
30036  71IScwIe7bcIlpnlkbKVQw                42   2023-03-11
30037  1cJkUN5LAotktryx2nPCr7                39   2023-03-11
30038  31JVjy3XWnh6C2zf4kLCXN                40   2023-03-11
30039  7GZ3KDorsc1yWndEtzGTjf                39   2023-03-11

[29984 rows x 3 columns]

Test the merge to see the new resulted track_id

In [9]:
df1.merge(df2)

                     track_id  track_playcount date_tracked  track_popularity
0      12sliObzVzbLbAlDb8eChf         91887648   2023-03-04                50
1      1hG4V53eR16jg7jVTNLOiX        813653167   2023-03-04                54
2      5VipERQ1ofCowecoFg2MVU        380497375   2023-03-04                54
3      1N9hFgcgWYbGINUKjhvcK6        157315542   2023-03-04                52
4      1qKdid2S9fZdSrzLaCcjcF        125490517   2023-03-04                53
...                       ...              ...          ...               ...
29982  1g09DZjQ7yBommCT6POY2n          4440379   2023-03-11                40
29983  71IScwIe7bcIlpnlkbKVQw          7009333   2023-03-11                42
29984  1cJkUN5LAotktryx2nPCr7          3385864   2023-03-11                39
29985  31JVjy3XWnh6C2zf4kLCXN          4263512   2023-03-11                40
29986  7GZ3KDorsc1yWndEtzGTjf          3862782   2023-03-11                39

[29987 rows x 4 columns]

#### `SQL_get_artist_pop()`

In [10]:
def SQL_get_artist_pop(artist_name):
    df = pd.read_sql(
    f'''
    SELECT * 
    FROM Artists_Popularity
    WHERE artist_name = '{artist_name}'
    ''', db)
    return df

In [11]:
SQL_get_artist_pop("BTS")

,artist_name,artist_id,artist_followers,artist_popularity,date_tracked
0,BTS,3Nrfpe0tUJi4K4DXYWgMUX,61927930,93,2023-03-04
1,BTS,3Nrfpe0tUJi4K4DXYWgMUX,61927930,93,2023-03-05
2,BTS,3Nrfpe0tUJi4K4DXYWgMUX,61972773,93,2023-03-06
3,BTS,3Nrfpe0tUJi4K4DXYWgMUX,62011343,93,2023-03-07
4,BTS,3Nrfpe0tUJi4K4DXYWgMUX,62048245,93,2023-03-08
5,BTS,3Nrfpe0tUJi4K4DXYWgMUX,62119901,93,2023-03-09
6,BTS,3Nrfpe0tUJi4K4DXYWgMUX,62157902,93,2023-03-10
7,BTS,3Nrfpe0tUJi4K4DXYWgMUX,62157902,93,2023-03-11

#### `SQL_get_albums_pop_artist()`

In [12]:
def SQL_get_albums_pop_artist(artist_name):
    df = pd.read_sql(
            f'''
            SELECT DISTINCT art.artist_name, alb.album_group, alb.album_name, alb.album_release_date, ap.album_popularity, ap.date_tracked
            FROM albums_popularity AS ap
            LEFT JOIN albums AS alb
            ON ap.album_id = alb.album_id
            LEFT JOIN artists AS art
            ON art.artist_id = alb.artist_id

            WHERE art.artist_name = '{artist_name}'
            '''
        , db)
    return df

Test what `SQL_get_albums_pop_artist()` return

In [13]:
#new
df = SQL_get_albums_pop_artist("BTS")
df

,artist_name,album_group,album_name,album_release_date,album_popularity,date_tracked
0,BTS,album,Proof,2022-06-10,87,2023-03-04
1,BTS,album,BE,2020-11-20,45,2023-03-04
2,BTS,album,MAP OF THE SOUL : 7 ~ THE JOURNEY ~,2020-07-14,66,2023-03-04
3,BTS,album,MAP OF THE SOUL : 7,2020-02-21,51,2023-03-04
4,BTS,album,MAP OF THE SOUL : PERSONA,2019-04-12,78,2023-03-04
...,...,...,...,...,...,...
611,BTS,single,FOR YOU(通常盤),2015-06-17,30,2023-03-11
612,BTS,single,Danger -Japanese Ver.- 通常盤,2014-11-19,25,2023-03-11
613,BTS,single,BOY IN LUV,2014-07-16,25,2023-03-11
614,BTS,single,No More Dream (Japanese Ver.),2014-06-04,31,2023-03-11
615,BTS,single,NO MORE DREAM-Japanese Ver.- 通常盤,2014-06-04,16,2023-03-11

#### `SQL_get_tracks_playpop_artist()`

In [14]:
def SQL_get_tracks_playpop_artist(artist_name):
    df = pd.read_sql(
        f''' 

        SELECT DISTINCT artist_name, album_name, track_name, playc.track_id track_number, track_popularity, track_playcount, playc.date_tracked
        FROM tracks_playcount AS playc

        LEFT JOIN tracks_popularity AS pop
        ON playc.track_id = pop.track_id AND playc.date_tracked = pop.date_tracked
        
        LEFT JOIN tracks
        USING(track_id)

        LEFT JOIN 
        (SELECT albums.album_id, albums.artist_id, albums.album_name
        FROM albums) AS alb
        USING(album_id)

        LEFT JOIN artists
        USING (artist_id)

        WHERE artist_name = '{artist_name}' AND track_playcount > 0
        '''
    ,db)
    return df

Test what `SQL_get_tracks_playpop_artist()` return

In [15]:
df = SQL_get_tracks_playpop_artist('Taylor Swift')
df

,artist_name,album_name,track_name,track_number,track_popularity,track_playcount,date_tracked
0,Taylor Swift,Anti-Hero (ILLENIUM Remix),Anti-Hero - ILLENIUM Remix,6C0H8ts9M6deezz0yYR6LK,60,6655791,2023-03-04
1,Taylor Swift,Midnights (3am Edition),Lavender Haze,4g2c7NoTWAOSYDy44l9nub,74,310253891,2023-03-04
2,Taylor Swift,Midnights (3am Edition),Maroon,199E1RRrVmVTQqBXih5qRC,74,227662369,2023-03-04
3,Taylor Swift,Midnights (3am Edition),Anti-Hero,02Zkkf2zMkwRGQjZ7T4p8f,75,631167491,2023-03-04
4,Taylor Swift,Midnights (3am Edition),Snow On The Beach (feat. Lana Del Rey),6ADDIJxxqzM9LMpm78yzQG,72,236114590,2023-03-04
...,...,...,...,...,...,...,...
7830,Taylor Swift,The Taylor Swift Holiday Collection,Christmases When You Were Mine,1g09DZjQ7yBommCT6POY2n,40,4440379,2023-03-11
7831,Taylor Swift,The Taylor Swift Holiday Collection,Santa Baby,71IScwIe7bcIlpnlkbKVQw,42,7009333,2023-03-11
7832,Taylor Swift,The Taylor Swift Holiday Collection,Silent Night,1cJkUN5LAotktryx2nPCr7,39,3385864,2023-03-11
7833,Taylor Swift,The Taylor Swift Holiday Collection,Christmas Must Be Something More,31JVjy3XWnh6C2zf4kLCXN,40,4263512,2023-03-11
7834,Taylor Swift,The Taylor Swift Holiday Collection,White Christmas,7GZ3KDorsc1yWndEtzGTjf,39,3862782,2023-03-11

### SQL Get all

***

#### `SQL_get_all_art_pop()`

In [16]:
def SQL_get_all_art_pop():
    df = pd.read_sql(
    f'''
    SELECT * 
    FROM Artists_Popularity
    ''', db)
    return df

In [17]:
df = SQL_get_all_art_pop()
df

,artist_name,artist_id,artist_followers,artist_popularity,date_tracked
0,Ariana Grande,66CXWjxzNUsdJxJ2JdwvnR,88348950,92,2023-03-04
1,Avicii,1vCWHaC5f2uS3yhpwWbIA6,22620854,84,2023-03-04
2,BTS,3Nrfpe0tUJi4K4DXYWgMUX,61927930,93,2023-03-04
3,Coldplay,4gzpq5DPGxSnKTe4SA8HAU,42282671,90,2023-03-04
4,Drake,3TVXtAsR1Inumwj472S9r4,72531141,98,2023-03-04
...,...,...,...,...,...
91,Joji,3MZsBdqDrRTJihTHQrO6Dq,8174450,86,2023-03-11
92,Martin Garrix,60d24wfXkVzDSfLS6hyCjZ,15746075,80,2023-03-11
93,Mike Williams,3IpvVrP3VLhruTmnququq7,350583,61,2023-03-11
94,NIKI,2kxP07DLgs4xlWz8YHlvfh,2378449,76,2023-03-11
95,Taylor Swift,06HL4z0CvFAxyc27GXpf02,69369186,99,2023-03-11

#### `SQL_get_albums_pop_all()`

In [18]:
def SQL_get_albums_pop_all():
    df = pd.read_sql(
            f'''
            SELECT DISTINCT art.artist_name, alb.album_group, alb.album_name, alb.album_release_date, ap.album_popularity, ap.date_tracked
            FROM albums_popularity AS ap
            LEFT JOIN albums AS alb
            ON ap.album_id = alb.album_id
            LEFT JOIN artists AS art
            ON art.artist_id = alb.artist_id
            '''
        , db)
    return df

In [19]:
df = SQL_get_albums_pop_all()
df

,artist_name,album_group,album_name,album_release_date,album_popularity,date_tracked
0,Ariana Grande,album,Positions (Deluxe),2021-02-19,71,2023-03-04
1,Ariana Grande,album,Positions,2020-10-30,83,2023-03-04
2,Ariana Grande,album,k bye for now (swt live),2019-12-23,62,2023-03-04
3,Ariana Grande,album,"thank u, next",2019-02-08,85,2023-03-04
4,Ariana Grande,album,Sweetener,2018-08-17,81,2023-03-04
...,...,...,...,...,...,...
7043,Taylor Swift,single,Sweeter Than Fiction,2013-10-21,45,2023-03-11
7044,Taylor Swift,single,Everything Has Changed (Remix),2013-01-01,28,2023-03-11
7045,Taylor Swift,single,Ronan,2012-09-08,36,2023-03-11
7046,Taylor Swift,single,Today Was A Fairytale,2011-02-15,44,2023-03-11
7047,Taylor Swift,single,The Taylor Swift Holiday Collection,2008-12-02,51,2023-03-11

#### `SQL_get_tracks_playpop_all()`

In [20]:
def SQL_get_tracks_playpop_all():
    df = pd.read_sql(
        f''' 

        SELECT DISTINCT artist_name, album_name, track_name, playc.track_id, track_number, track_popularity, track_playcount, playc.date_tracked
        FROM tracks_playcount AS playc

        LEFT JOIN tracks_popularity AS pop
        ON playc.track_id = pop.track_id AND playc.date_tracked = pop.date_tracked
        
        LEFT JOIN tracks
        USING(track_id)

        LEFT JOIN 
        (SELECT albums.album_id, albums.artist_id, albums.album_name
        FROM albums) AS alb
        USING(album_id)

        LEFT JOIN artists
        USING (artist_id)

        WHERE track_playcount > 0
        '''
    ,db)
    return df

In [21]:
# def SQL_get_tracks_playpop_all():
#     df = pd.read_sql(
#         f''' 

#         SELECT DISTINCT artist_name, album_name, track_name, playc.track_id, track_number, track_popularity, track_playcount, playc.date_tracked
#         FROM tracks_playcount AS playc

#         LEFT JOIN tracks_popularity AS pop
#         ON playc.track_id = pop.track_id AND playc.date_tracked = pop.date_tracked
        
#         LEFT JOIN tracks
#         USING(track_id)

#         LEFT JOIN 
#         (SELECT albums.album_id, albums.artist_id, albums.album_name
#         FROM albums) AS alb
#         USING(album_id)
#         '''
#     ,db)
#     return df

In [22]:
df = SQL_get_tracks_playpop_all()
df

,artist_name,album_name,track_name,track_id,track_number,track_popularity,track_playcount,date_tracked
0,Ariana Grande,Positions (Deluxe),shut up,12sliObzVzbLbAlDb8eChf,1,50,91887648,2023-03-04
1,Ariana Grande,Positions (Deluxe),34+35,1hG4V53eR16jg7jVTNLOiX,2,54,813653167,2023-03-04
2,Ariana Grande,Positions (Deluxe),motive (with Doja Cat),5VipERQ1ofCowecoFg2MVU,3,54,380497375,2023-03-04
3,Ariana Grande,Positions (Deluxe),just like magic,1N9hFgcgWYbGINUKjhvcK6,4,52,157315542,2023-03-04
4,Ariana Grande,Positions (Deluxe),off the table (with The Weeknd),1qKdid2S9fZdSrzLaCcjcF,5,53,125490517,2023-03-04
...,...,...,...,...,...,...,...,...
29953,Taylor Swift,The Taylor Swift Holiday Collection,Christmases When You Were Mine,1g09DZjQ7yBommCT6POY2n,2,40,4440379,2023-03-11
29954,Taylor Swift,The Taylor Swift Holiday Collection,Santa Baby,71IScwIe7bcIlpnlkbKVQw,3,42,7009333,2023-03-11
29955,Taylor Swift,The Taylor Swift Holiday Collection,Silent Night,1cJkUN5LAotktryx2nPCr7,4,39,3385864,2023-03-11
29956,Taylor Swift,The Taylor Swift Holiday Collection,Christmas Must Be Something More,31JVjy3XWnh6C2zf4kLCXN,5,40,4263512,2023-03-11
29957,Taylor Swift,The Taylor Swift Holiday Collection,White Christmas,7GZ3KDorsc1yWndEtzGTjf,6,39,3862782,2023-03-11

In [23]:
#identify the duplicates created
df.loc[df.duplicated(subset=['track_id','date_tracked','artist_name']),:]

,artist_name,album_name,track_name,track_id,track_number,track_popularity,track_playcount,date_tracked
12569,BTS,My Universe (Galantis Remix),My Universe - Galantis Remix,1DlczmjByrS4qxRVfGjpqN,1,60,26064701,2023-03-07
12570,Coldplay,My Universe (Galantis Remix),My Universe - Galantis Remix,1DlczmjByrS4qxRVfGjpqN,1,60,26064701,2023-03-07
14919,Taylor Swift,Anti-Hero (ILLENIUM Remix),Anti-Hero - ILLENIUM Remix,6C0H8ts9M6deezz0yYR6LK,1,60,6724343,2023-03-07
14920,ILLENIUM,Anti-Hero (ILLENIUM Remix),Anti-Hero - ILLENIUM Remix,6C0H8ts9M6deezz0yYR6LK,1,60,6724343,2023-03-07

In [24]:
# This is needed to drop duplicates.
df = df.drop_duplicates(subset=['track_id','date_tracked','artist_name'])

In [25]:
import plotly.express as px
df1 = df[df['album_name'] == 'Anti-Hero (ILLENIUM Remix)']


fig = px.line(df1, x='date_tracked', y="track_playcount")
fig.show()